{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<title>
			Story about Fariz
		</title>

		<link rel="stylesheet" href="{% static 'style.css' %}">

		<style>
		@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700,800|Playfair+Display:400,700,800&display=swap');</style>
    </head>

    <body>
		<div id="navbar">
			<a href="#home">Home</a>
			<a href="#education">Education</a>
			<a href="#experience">Experience</a>
			<a href="#interest">Interest</a>
			<a href="#contact">Contact</a>
			<a href="{% url 'story_1:index' %}">Story 1</a>
			<a href="{% url 'story_3:index' %}">Story 4</a>
		</div>

    	<section id="home" class="page">
	    	<p class="avatar"><img src="{% static 'avt.png' %}" alt="Avatar" style="margin-top: 14vh"></p>
	    	<div class="title", style="text-align: center;">fariz habibie permana</div>
	    	<div class="subtitle">A tech-savvy born in February 1st 2002, currently studying at Computer Science Faculty in University of Indonesia</div>
	    	<div style="padding-top: 4%"><a class="more" href="#education">more</a></div>
	    </section>

	    <section id="education" class="page">
	    	<div class="titletnr" style="text-align: left">my education.</div>

	    	<ul>
				<li><p class="tipe1" style="margin-top: 1vh">2005 — 2007</p></li>
				<li><p class="tipe2">TK Islam Amanah Bangsa (ASA)</p></li>
				<li><p class="tipe1">2007 — 2013</p></li>
				<li><p class="tipe2">SD Islam Amanah Bangsa (ASA)</p></li>
				<li><p class="tipe1">2013 — 2016</p></li>
				<li><p class="tipe2">SMP Negeri 1 Kota Bekasi</p></li>
				<li><p class="tipe1">2016 — 2019</p></li>
				<li><p class="tipe2">SMA Negeri 1 Kota Bekasi</p></li>
				<li><p class="tipe1">2019 — Present</p></li>
				<li><p class="tipe2">SMA Negeri 1 Kota Bekasi</p></li>
			</ul>

			<div style="padding-top: 1.5%"><a class="more" href="#experience">more</a></div>
			<div class="div-arrow"><p class="arrow"><img src="{% static 'arrow-grey.png' %}" alt="arrow"></p></div>
			<div class="circle" style="	right:-15vw; top:1vh;"></div>
	    </section>

	 	<section id="experience" class="page">
	    	<div class="titletnr" style="text-align: left">my experience.</div>

	    	<ul class="edu-content">
				<li><p class="tipe3" style="margin-top: 1vh">Public Relation Staff at Open House Fasilkom UI 2019</p></li>
				<li><p class="tipe4">September — 2019 November 2019</p></li>
				<li><p class="tipe5">My team and I announced and explained about the event to several schools.</p></li>
			</ul>

			<ul class="edu-content">
				<li><p class="tipe3">Master of Ceremonies at Wisuda Ganjil 2019/2020 Fasilkom UI</p></li>
				<li><p class="tipe4">January 2020</p></li>
				<li><p class="tipe5">I lead and conducted the graduation event.</p></li>
			</ul>

			<ul class="edu-content">
				<li><p class="tipe3">Human Resource Representative of Event Division at PERAK 2020</p></li>
				<li><p class="tipe4">January 2020 — Present</p></li>
				<li><p class="tipe5">I recruited and administrate the staff of Event Division.</p></li>
			</ul>

			<div style="padding-top: 1.5%"><a class="more" href="#interest">more</a></div>
			<div class="div-arrow"><p class="arrow"><img src="{% static 'arrow-grey.png' %}" alt="arrow"></p></div>
	    </section>

	   	<div class="circle" style="	left:-15vw; margin-top:201vh"></div>

	   	<section id="interest" class="page">
	   		<div class="titletnr" style="text-align: left">things i'm interested in.</div>
	   		<div class="icon"><img src="{% static 'code.png' %}"><a class="tipe4" style="font-style: normal; font-size: 2.5vw; margin-left: 10%">i like to code, especcialy in Python</a></div>

	   		<div class="icon"><img src="{% static 'design.png' %}"><a class="tipe4" style="font-style: normal; font-size: 2.5vw; margin-left: 10%">i’ve been designing since i was 11</a></div>

	   		<div class="icon"><img src="{% static 'music.png' %}"><a class="tipe4" style="font-style: normal; font-size: 2.5vw; margin-left: 10%">i always have my passion in classical music</a></div>

	   		<div class="row">
		   		<div class="col"> <!-- ka WH, ini yg make bootstrapnya ya kak. maaf saya lupa pake bootstrap dari awal dan waktunya udah mepet huhu :"( -->
		   			<div><a class="more" href="#contact">more</a></div>
		   			<div class="titletnr" style="text-align: right; font-style: italic; margin-top: 0; float: right; font-size:8.5vh">cogito ergo sum.</div>
		   		</div>
	   		</div>
	   	</section>

	   	<section id="contact" class="page">
	   		<div class="titletnr" style="text-align: left">contact me.</div>
	   		<div class="boxes">
	   			<div class="box box-ig"><a style="display: block; height: 100%", href="https://www.instagram.com/hpfariz/" target="_blank"><img src="{% static 'instagram1.png' %}", class="logo"></a></div>
	   			<div class="box box-linkedin"><a style="display: block; height: 100%", href="https://www.linkedin.com/in/hpfariz" target="_blank"><img src="{% static 'linkedin1.png' %}", class="logo"></a></div>
	   			<div class="box box-tw"><a style="display: block; height: 100%", href="https://twitter.com/farizfhp" target="_blank"><img src="{% static 'twitter1.png' %}", class="logo", style="margin-top: 3.5vw"></a></div>
	   		</div>
	   	</section>
		
		<br><br><br>
		<div class="titletnr" style="text-align: left; margin-top: 500vh; height:40vh">contact me.
		<div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			  Click here to see some cats.
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">some cats for you.</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        
			      	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block w-100" src="{% static 'cats/cat1.jpg' %}" alt="First slide">
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="{% static 'cats/cat2.jpg' %}" alt="Second slide">
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="{% static 'cats/cat3.jpg' %}" alt="Third slide">
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div><a href="{% url 'story_3:CV_page' %}" style="font-size: 3vw">click me to view my latest resume</a></div>
		<div style="height: 50vh"></div>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
				<script>$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})</script>
    </body> 
</html>