html {
  scroll-behavior: smooth;
}

body {
	background: #F4F4F4;
	overflow-x: hidden!important;
}

.avatar {
	text-align: center;
}

#home{
	  position: absolute;
}

#education{
	position: absolute;
	margin-top: 100vh;
	z-index: 3;
	width:100%;
	overflow: hidden;
}

#experience{
	position: absolute;
	margin-top: 200vh;
	z-index: 3;
}

#interest{
	position: absolute;
	margin-top: 300vh;
	z-index: 3;
}

#contact{
	position: absolute;
	margin-top: 400vh;
	z-index: 3;
}

#extras {
	position: absolute;
	margin-top: 500vh;
	z-index: 3;
}

.page {
    /*margin: 0px;*/
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    align-items: center;
}

.title {
	font-family: 'Playfair Display', serif;
	font-weight: 800;
	font-size: 9vh;
	line-height: 12vh;

	color: #FF7315;
}

.titletnr {
	font-family: 'Playfair Display', serif;
	font-weight: 800;
	font-size: 9vh;
	line-height: 12vh;

	color: #FF7315;
	margin-top: 9vh;
	margin-left: 5vw;
}

.subtitle {
	/*position: absolute;*/
	width: 43%;
	margin: 0 auto;

	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	line-height: auto;
	text-align: center;

	color: #FF7315;
}
.more {
	/*position: absolute;*/
	font-family: Montserrat, sans-serif;
	font-size: 20;
	font-weight: 300;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	padding: 1vh 4.5vw;
	background: #F4F4F4;
	box-shadow: -0.5vh -0.5vh 0.5vh rgba(255, 255, 255, 0.8), 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	margin-top: 90vh;
	color : #A8A8A8;
	/*align-0: center;*/
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #A8A8A8;
}

a:active {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden!important;
}

#navbar {
  overflow: hidden;
  background-color: rgba(229, 229, 229, 0.5);
  /*margin-left:22vw;*/
  width: 100%;
  justify-content: center;
  position: fixed;
  top:0;
  z-index: 999;
  display: flex;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 14px 16px;
  margin-left: 2vw;
  margin-right: 2vw;
  text-decoration: none;

  color: #FF7315; opacity: 1;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 7vh;
}

.tipe1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;
	text-align: center;
	color: #232020;
	margin-top: 5vh;
}

.tipe2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2vw;
	line-height: 1vh;
	text-align: center;

	color: #232020;
}

.tipe3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 1.3vw;
	line-height: 2vh;
	text-align: center;

	color: #000000;
}

.tipe4 {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 200;
	font-size: 1.3vw;
	line-height: 2vh;
	text-align: center;

	color: #000000;
}

.tipe5 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3vw;
	line-height: 2vh;
	text-align: center;

	color: #000000;
}

.edu-content {
	margin-top: 6vh;
}

.div-arrow {
	margin-top: 4vh;
	/*border: 1px;*/;
	/*box-shadow: -0.5vh -0.5vh 0.5vh rgba(255, 255, 255, 0.8), 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.25);*/
}

.circle {
	position: absolute;
	width: 48vw;
	height: 48vw;
	border-radius: 50%;

	background: #F4F4F4;
	z-index: 2;
	box-shadow: -1vh -1vh 1vh rgba(255, 255, 255, 0.8), 1vh 1vh 1vh rgba(0, 0, 0, 0.25)
}

.boxes{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*left: 50%;*/
	padding-left: 20%;
	padding-top: 7%;
}

.box {
	/*position: absolute;*/
	width: 15vw;
	height: 15vw;
	border-radius: 2%;
	margin:0px;
	background: #ff9d76;
	z-index: 2;
	box-shadow: -0.6vh -0.6vh 0.6vh rgba(255, 255, 255, 0.8), 0.6vh 0.6vh 0.6vh rgba(0, 0, 0, 0.25);
	float:left;
}

.box-ig {
	margin-right: 8%
}
.box-linkedin {
	margin-right: 8%
}

.logo{
	width: 10vw;
	margin-top: 2.5vw;	
}

.icon {
	text-align: left;
	margin-left: 12%;
	width: 70%;
}