{% load static %}
<html>
	<head>
		<title>
			Profil Fariz Habibie Permana
		</title>
    </head>
    
	<body>
		<style>
			body{
				background-color: #e7f6ff
			}
			img {
			    image-orientation: from-image;
			}

		</style>
        <div id="profil">
			<h2>Name : Fariz Habibie Permana</h2>
        	<h2>NPM  : 1906305833</h2>
        	<h2>Angkatan : 2019</h2>
        	<h2>Tempat Kuliah : Universitas Indonesia</h2>
        	<h2>Hobi : Tidur</h2>
        </div>

        <div id="deskripsi">
        	<h2>Deskripsi :</h2>
        	<p>Saya adalah seorang mahasiswa jurusan Sistem Informasi yang sangat suka teknologi dan hal yang berkaitan dengan teknologi. Saya juga suka desain grafis serta pengaruhnya pada cara kerja otak dan perubahan emosi. Saya sangat menyukai hal tentang psikologi, seperti bagaimana cara lingkungan sekitar memberikan stimulus yang membuat manusia memberikan respon secara tidak sadar.</p>
        </div>

        <div id="foto">
        	<h2>Foto Saya</h2>
        	<img style="width: auto; height: auto; max-width: 60%;" src="{% static 'fotostory1.jpg' %}">
		</div>

		<div id="riwayat">
			<h2>Riwayat Pendidikan</h2>
			<table class = "pendidikan">

				<style>
					table.pendidikan td, tr {
						border: 1px solid #d6d6d6;}
					table.pendidikan {
						border-collapse: collapse;
						width : auto;}
					table.pendidikan td {
						padding: 8px;}
				</style>

				<tr align = "center">
					<td><strong>Pendidikan</strong></td>
					<td><strong>Tahun</strong></td>
				</tr>

				<tr>
					<td align=center>TK Islam Amanah Bangsa (ASA)</td>
					<td align=center>2005-2007</td>
				</tr>

				<tr>
					<td align=center>SD Islam Amanah Bangsa</td>
					<td align=center>2007-2013</td>
				</tr>

				<tr>
					<td align=center>SMP Negeri 1 Kota Bekasi</td>
					<td align=center>2013-2016</td>
				</tr>

				<tr>
					<td align=center>SMA Negeri 1 Kota Bekasi</td>
					<td align=center>2016-2019</td>
				</tr>
				
				<tr>
					<td align=center>Sistem Informasi Fakultas Ilmu Komputer Universitas Indonesia</td>
					<td align=center>2019—Sekarang</td>
				</tr>

			</table>
		</div>

		<div id="mediaSosial">
			<h2>Reach me at :</h2>
				<a href="https://www.instagram.com/hpfariz/" target="_blank">
		    		<img alt="ig" src="{% static 'instagram.jpg' %}"
		    		width="150" height="150">
		    	</a>
		    	<a href="http://line.me/ti/p/~hpfariz" target="_blank">
		    		<img alt="line" src="{% static 'line.png' %}"
		    		width="150" height="150">
		    	</a>
		    	<a href="http://www.linkedin.com/in/hpfariz" target="_blank">
		    		<img alt="linkedin" src="{% static 'linkedin.png' %}"
		    		width="150" height="150">
		    	</a>
	</body>
</html>